
.table {
   width: 50%;
   border-collapse: collapse;
 }
 th, td {
   padding:8px ;
    border: 1px solid rgb(0, 0, 0);
   text-align: center;
   background-color:rgb(179, 41, 197);
   
 }
 th {
   background-color:#00bFFF;
 }
 a:hover{
     color:rgb(0, 255, 242)
 }
 body{
  background-image:radial-gradient(#00bFFF, #9932cc );
  
 }
.titulo{
  color: #00bFFF;
}
a{
  color:cyan
}